Save
Log.txt
Editor.ini
Game.ini
Game_ErrorLog.txt
Systemfirst.dat
CustomData
DirectX9_game.dat
Data/Temp
*.tmp
Game_ErrorLog.txt
DebugLog.txt
デバッグモードの使い方.txt
ドラえもん/
UpdateLink.html
ver.txt
Systemdata.dat
ScreenShot_*.png
mods
*.cus
Game.exe - ショートカット.lnk
