Save
Log.txt
Editor.ini
Game.ini
Game_ErrorLog.txt
Systemfirst.dat
CustomData
DirectX9_game.dat
Data/Temp
*.tmp
Game_ErrorLog.txt
DebugLog.txt
デバックモードの使い方.txt
ドラえもん/
UpdateLink.html
ver.txt
デバッグモードの使い方.txt
Backup_Before_Ver3
EditorPro.exe
Game.exe
Game.exe (Debug).bat
ScreenShot_*.png
Game.exe - ショートカット.lnk
mods
Wodistant - ショートカット -.exe
Wodistant - ショートカット -.ini
Systemdata.dat
GamePro.exe (Debug).bat
ライセンス.rtf
AutoBackup*
mods1
Editor.exe
ドラえもん_*
Systemdata.dat.anotherGame
ver_woditor_v2.txt
Config.ini
list
mods2
assets
Data/BasicData/BrowserWoditor.dat
_Make*.bat
/Screenshot
*.pdn
*.mdp
*.kra
Editor_w.exe
Editor_w.ini
エディター更新履歴\[*].txt
/Extract
/Web
