Save
Log.txt
Editor.ini
Game.ini
Game_ErrorLog.txt
Systemfirst.dat
CustomData
DirectX9_game.dat
Data/Temp
*.tmp
Game_ErrorLog.txt
DebugLog.txt
デバックモードの使い方.txt
ドラえもん/
UpdateLink.html
ver.txt
デバッグモードの使い方.txt
Backup_Before_Ver3
mods
EditorPro.exe
Game.exe (Debug).bat
Game.exe - ショートカット.lnk
GamePro.exe (Debug).bat
Systemdata.dat
Wodistant - ショートカット -.exe
Wodistant - ショートカット -.ini
エディター更新履歴\[Ver3.04\].txt
ScreenShot_*.png
mods1
ドラえもん*
Systemdata.dat.anotherGame
ver_woditor_v2.txt
Config.ini
list
data/assets
